[ldap]
; ldap serverのアドレス ldap[s]://hostname[:portnumber]
; ポート番号の指定がない場合は、ldap[s]に応じて636/389が使用される
server="ldaps://ldap.comain:636"
; 検索を行うDN
base_dn="DC=domain,DC=internal"
; CA証明書 (PEM形式) LDAPSではない場合はブランク
ca_cert="./ca.pem"

[db]
; sqliteデータベースのパス
path="./auth.db"

[ldap_search]
; フィルターパターン
; ユーザー名を割り当てるために%sの指定が必要
filter="(&(objectClass=user)(sAMAccountName=%s))"
; 検索結果から取得したい属性をカンマ区切りで指定
attributes="sAMAccountName,"